{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Silver plate
                    <strong>lorem ipsum</strong>
                </h2>
                <hr>
                <p>Lorem ipsum dolor sit amet sapien tristique commodo. Cras consectetuer egestas, orci luctus leo eros,
                    aliquam
                    vehicula viverra. Mauris ullamcorper risus. Suspendisse potenti. Suspendisse facilisis libero.
                    Maecenas
                    pharetra lorem leo, suscipit erat. Duis sit amet nunc. Etiam mollis nunc justo luctus diam. Fusce
                    suscipit
                    nibh ac lacus. Pellentesque eget elit eu ante. Nullam pharetra porttitor laoreet viverra enim sit
                    amet
                    libero wisi, sed augue. Sed egestas mi, nec leo in sem. In ultricies quis, dictum volutpat.
                    Pellentesque
                    tortor. Proin in erat vel quam. Phasellus lorem nonummy faucibus augue. Morbi non orci. Vestibulum
                    pulvinar.
                    Morbi feugiat sit amet, ligula. Ut pharetra velit tempus ipsum. Curabitur tempor. Suspendisse sed
                    quam eu
                    auctor neque. Nunc sapien. Nam lectus nec erat volutpat. Maecenas vitae velit nulla in sollicitudin
                    id,
                    bibendum wisi at est tincidunt eget, ante. Vestibulum risus suscipit enim. Duis a lectus. Nunc
                    felis. Nullam
                    sed nulla eu aliquam tellus rutrum lorem. Cras a nunc. Donec eleifend mi, id elementum diam magna
                    lorem nec
                    libero at ipsum dolor sit amet, sodales dui a laoreet hendrerit sollicitudin id, libero.
                    Pellentesque
                    bibendum, neque in faucibus orci blandit vel, arcu. Suspendisse nec nibh risus, dictum vitae,
                    vehicula dolor
                    eget dolor sit amet tellus pharetra varius. Etiam ullamcorper. Nam interdum rhoncus, dui nulla,
                    accumsan
                    congue. Lorem ipsum dolor sit amet, nonummy at, nibh. Maecenas mi non dui. Etiam sapien magna purus,
                    congue
                    eu, pulvinar nec, ullamcorper ligula non diam. Duis quis nulla ut eros quis nisl. Etiam varius ac,
                    tempus
                    ornare a, dui. Morbi pede. Duis luctus. Aenean interdum dui auctor augue nec ipsum. Vestibulum
                    consectetuer
                    elit. In hac habitasse platea dictumst. Proin vel turpis egestas. Phasellus facilisis neque,
                    condimentum
                    convallis. Fusce aliquam eget, bibendum ac, suscipit lectus. Mauris pretium, diam elementum quis,
                    interdum
                    arcu quis neque vitae felis mollis lobortis. Maecenas orci convallis at, lacus. Quisque ultricies a,
                    adipiscing elit. Aliquam ultrices varius. Cras ornare. Nam feugiat leo. Ut eget augue pulvinar at,
                    consequat
                    non, dictum orci. Suspendisse adipiscing. Nunc placerat consequat. Curabitur interdum. Suspendisse
                    bibendum
                    porttitor. Nulla ac turpis tellus, elementum dui. Integer aliquet neque, a elit aliquet lorem.
                    Vestibulum
                    convallis libero. Aliquam nonummy, mi. Nam lorem nec lectus luctus augue. Maecenas scelerisque neque
                    nibh
                    nulla sit amet, consectetuer adipiscing non, feugiat lectus sit amet, consectetuer lobortis sed,
                    aliquam
                    dictum aliquet ipsum. Aenean facilisis sagittis et, tempus et, varius vehicula. Vivamus metus
                    gravida elit.
                    Pellentesque euismod nonummy. Sed mattis. Nunc justo. Phasellus lorem id felis. Aliquam in
                    vestibulum
                    iaculis. In bibendum sem, posuere arcu. Donec mauris ac nibh pulvinar velit. Pellentesque ornare a,
                    fermentum mi, porttitor massa in tellus suscipit dui nulla, auctor mattis. Nunc tristique senectus
                    et quam.
                    Ut consequat vel, lacinia arcu sed elit purus, vehicula sit amet, consectetuer lacus. Quisque
                    libero. Duis
                    tempor, tortor massa sit amet purus vitae mauris. Donec tortor quis nulla quam at neque. Class
                    aptent taciti
                    sociosqu ad litora torquent per inceptos hymenaeos. Aenean vulputate nunc. Vestibulum egestas a,
                    diam. Nam
                    dictum volutpat. Nam enim. Fusce purus est, ut nulla eu nulla in dolor. Donec faucibus, quam.
                    Maecenas
                    consequat, augue eget sem ullamcorper quam. Quisque lobortis, massa a nunc vel eros in consequat
                    wisi. Sed
                    diam sed urna. Donec non leo vel massa ut ligula. Aliquam in faucibus augue. Sed neque. Cras
                    tincidunt sed,
                    euismod nec, pharetra nec, lacinia at, venenatis pede. Sed fringilla sollicitudin, odio leo, a nisl.
                    Nullam
                    laoreet, enim dolor sit amet lacus. Aenean massa non erat libero, pharetra velit vel leo. Curabitur
                    vel
                    neque nibh sagittis libero. Morbi felis non enim ac ligula. Aliquam ultricies dolor rhoncus
                    interdum, lacus.
                    Aenean pellentesque tincidunt, risus nunc, rhoncus eget, bibendum sem, posuere in, iaculis massa.
                    Duis
                    blandit risus risus dictum lectus lectus, volutpat metus. Nullam semper eros. Integer quis venenatis
                    eu,
                    elit. Nullam semper feugiat. Cum sociis natoque penatibus et lacus a posuere in, mollis faucibus,
                    tortor
                    elit consequat id, vulputate adipiscing. Nam tempor diam vitae lectus semper orci, blandit vel,
                    hendrerit
                    sed, dapibus eu, urna. Nam molestie. Quisque facilisis sem semper eros. Etiam imperdiet, neque
                    auctor non,
                    leo. Suspendisse potenti. Morbi commodo. Curabitur commodo. Cras tincidunt est neque, euismod eget,
                    eros.
                    Donec sollicitudin ac, vestibulum tristique magna. Praesent justo. Donec pede. Pellentesque
                    placerat.
                    Vivamus lacus quis consectetuer adipiscing elit. Donec eget leo. Vivamus semper vel, arcu. Cras
                    magna non
                    erat volutpat. Nunc justo ipsum dolor tellus suscipit lectus. Mauris at magna. Integer id felis.
                    Curabitur
                    est id purus non ante ipsum scelerisque condimentum eget, rutrum et, vehicula libero in mattis
                    feugiat
                    tortor quis nibh eu odio eu magna blandit vestibulum vehicula. Aliquam adipiscing risus elit
                    porttitor eros,
                    sit amet metus imperdiet vel, hendrerit nonummy. Class aptent taciti sociosqu ad litora torquent per
                    conubia
                    nostra, per conubia nostra, per conubia nostra, per inceptos hymenaeos. Nullam semper erat, ut
                    sapien. Cras
                    tempus dignissim. Phasellus laoreet condimentum, pulvinar sed, neque. Nunc a libero ornare ac,
                    varius
                    lectus. Mauris molestie turpis quis massa ac ipsum. Curabitur ac ipsum. Nunc erat volutpat.
                    Pellentesque
                    tellus. Nunc tempor eros sem vitae mauris. Pellentesque ut arcu. Etiam vel laoreet risus. Aliquam
                    eleifend
                    erat eget orci luctus et metus. Donec auctor ligula. Lorem ipsum ac nunc sem, posuere ante id eros
                    lacus,
                    congue at, convallis non, facilisis vel, viverra pede ac arcu. Etiam ullamcorper. Suspendisse elit
                    iaculis
                    odio orci, gravida eros nisl, tristique senectus et magnis dis parturient montes, nascetur ridiculus
                    mus.
                    Morbi id felis. Nunc mollis. Proin rhoncus eget, faucibus in, augue. Fusce ut odio non ipsum.
                    Suspendisse
                    dapibus risus. Phasellus ornare lacus vehicula ut, rutrum posuere egestas non, quam. Nullam justo
                    fringilla
                    gravida. Suspendisse potenti. Cras dictum eget, vestibulum viverra vel, adipiscing elit. Curabitur
                    elit.
                    Pellentesque scelerisque pede cursus eu, tempor ac, blandit suscipit, risus auctor tincidunt. Sed
                    placerat.
                    Curabitur adipiscing non, ipsum. Mauris a urna. Phasellus dui a lorem lorem lectus, luctus et
                    interdum ipsum
                    at lorem leo, pretium wisi, vitae fermentum turpis sagittis ipsum primis in quam at mauris pulvinar
                    at,
                    mauris. Nullam rutrum rhoncus. Morbi commodo. Curabitur interdum. Nulla interdum at, accumsan id,
                    nunc.
                    Vestibulum sollicitudin. Cras tortor venenatis pede. Sed ultricies feugiat, urna tellus malesuada
                    fames ac
                    felis. Nullam.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about
                    anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                    dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas.</p>
            </div>
        </div>
    </div>
{% endblock %}
